
h1 
p {font-size: 32px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;}
p
 {
    background-color: white;
    font-family: 'Times New Roman', Times, serif;
    font-weight:bold;}
div
    {font-size:x-large;
    align-items: center;}
        .Intro{font-size: 24px; font-weight: 200; font-style: oblique;}
        .suya,
        .chicken,
        .pork{
            margin-bottom: px;
        }
        .suya 
            {
                background-color: green;
                }
        .pork
            {background-color: blue;
            }
        .chicken 
                {background-color: red;
                }
a{text-decoration: none; color: black;}
img{
    height:auto;width: 300px;}
em{color: red;}